In [3]:
import pandas as pd
transaction2 = pd.read_csv('Dataset/Case Study - Transaction.csv', sep = ';')

In [7]:
transaction2['Date'] = pd.to_datetime(transaction2['Date'])
transaction2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5020 entries, 0 to 5019
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TransactionID  5020 non-null   object
 1   CustomerID     5020 non-null   int64
 2   Date           5020 non-null   datetime64[ns]
 3   ProductID      5020 non-null   object
 4   Price          5020 non-null   int64
 5   Qty            5020 non-null   int64
 6   TotalAmount    5020 non-null   int64
 7   StoreID        5020 non-null   int64
dtypes: datetime64[ns](1), int64(5), object(2)
memory usage: 313.9+ KB

C:\Users\una\AppData\Local\Temp\ipykernel_12852\1958914936.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  transaction2['Date'] = pd.to_datetime(transaction2['Date'])

In [9]:
cust_bymonth = transaction2.groupby(transaction2['Date'].dt.month).agg(sum = ('Qty', 'sum'))
cust_bymonth = cust_bymonth.rename({})

       sum
Date
1     1763
2     1524
3     1551
4     1447
5     1543
6     1453
7     1534
8     1481
9     1631
10    1425
11    1526
12    1418

In [ ]:
price_map = px.scatter_mapbox(listing_nbgroup, lat="latitude", lon="longitude", color="price", hover_name="neighbourhood_group", zoom=9, width=750, color_continuous_scale='Inferno')
price_map.update_layout(mapbox_style="open-street-map")
price_map.update_layout(margin={"r":0,"t":0,"l":0,"b":0})